<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spur Gear</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1 style="text-align: center">Choice 1</h1>
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label for="i">Enter i: </label>
                </td>
                <td>
                    <label>
                        <input name="i" type="number" step="any">
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="button_submit" value="Calculate"></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>