<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spur Gear</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="containerG">
  <div class="gear one"></div>
  <div class="gear two"></div>
  <div class="gear three"></div>
  <div class="gear four"></div>
  <div class="gear five"></div>
  <div class="gear six"></div>
</div>
<div class="container">
    <h1 style="text-align: center">Spur Gear Input</h1>
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label for="P">Enter Power transmitted (P) in kW : </label>
                </td>
                <td>
                    <label>
                        <input name="P" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="N1">Enter prime mover speed (N1) in rpm: </label>
                </td>
                <td>
                    <label>
                        <input name="N1" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td><label>Select from Follow Choices</label></td>
                <td>
            <tr>
                <td>
                    <label>
                        <input type="radio" name="choice" value=1>
                    </label>
                    <label>1. Reduction ratio(i).</label>
                </td>
                <td>
                    <label>
                        <input type="radio" name="choice" value=2>
                    </label>
                    <label>2. Speed of the application (N2) in rpm.</label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="button_submit" value="Calculate"></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>