<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spur Gear</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
{#<div class="containerG">#}
{#  <div class="gear one"></div>#}
{#  <div class="gear two"></div>#}
{#  <div class="gear three"></div>#}
{#  <div class="gear four"></div>#}
{#  <div class="gear five"></div>#}
{#  <div class="gear six"></div>#}
{#</div>#}
<div class="container">
    <h1 style="text-align: center">Spur Gear Input</h1>
    <form method="POST">
        <table>
            <tr>
                <td>
                    <label for="sf">Enter the value of Service Factor: </label>
                </td>
                <td>
                    <label>
                        <input name="sf" type="number" step="any">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pres_ang">Enter Pressure angle in degrees: </label>
                </td>
                <td>
                    <label>
                        <input name="pres_ang" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="gear_qua">Select Gear Quality: </label>
                </td>
                <td>
                    <label>
                        <select name="gear_qua">
                            <option value="1">Precision Gears</option>
                            <option value="2">Carefully Cut Gears</option>
                            <option value="3">First Class Commercial Gears</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pinion">Select Material for Pinion: </label>
                </td>
                <td>
                    <label>
                        <select name="pinion">
                            <option value="1">C50</option>
                            <option value="2">C55Mn75</option>
                            <option value="3">40Crl</option>
                            <option value="4">35NilCr60</option>
                            <option value="5">C45</option>
                            <option value="6">15Ni2CrlMo25</option>
                            <option value="7">40Ni2CrlMo28</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="FoS1">Enter Factor of Safety: </label>
                </td>
                <td>
                    <label>
                        <input name="FoS1" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="BHN1">Enter Brinell Hardness Number: </label>
                </td>
                <td>
                    <label>
                        <input name="BHN1" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="gear">Select Material for Gear: </label>
                </td>
                <td>
                    <label>
                        <select name="gear">
                            <option value="1">C50</option>
                            <option value="2">C55Mn75</option>
                            <option value="3">40Crl</option>
                            <option value="4">35NilCr60</option>
                            <option value="5">C45</option>
                            <option value="6">15Ni2CrlMo25</option>
                            <option value="7">40Ni2CrlMo28</option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="FoS2">Enter Factor of Safety: </label>
                </td>
                <td>
                    <label>
                        <input name="FoS2" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="BHN2">Enter Brinell Hardness Number: </label>
                </td>
                <td>
                    <label>
                        <input name="BHN2" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="m">Enter Module to be selected: </label>
                </td>
                <td>
                    <label>
                        <input name="m" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="psi">Enter the values of psi: </label>
                </td>
                <td>
                    <label>
                        <input name="psi" type="number">
                    </label>
                </td>
            </tr>
            <tr>
                <td><label>Select the method to calculate dynamic load</label></td>
                <td>
            <tr>
                <td>
                    <label>
                        <input type="radio" name="u" value=1>
                    </label>
                    <label>1. Barth velocity method</label>
                </td>
                <td>
                    <label>
                        <input type="radio" name="u" value=2>
                    </label>
                    <label>2. Buckingham method</label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="E1">Enter the value of E1: </label>
                </td>
                <td>
                    <label>
                        <input name="E1" type="number" step="any">
                    </label>
                </td>
            </tr><tr>
                <td>
                    <label for="E2">Enter the value of E2: </label>
                </td>
                <td>
                    <label>
                        <input name="E2" type="number" step="any">
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="button_submit" value="Calculate"></td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>